# Python virtual environment
venv/

# Compiled Python files and cache
**/__pycache__/
*.py[cod]

# Distribution and packaging
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configuration
.idea/